{
    "userName": "",
    "passWord": "",
    "ip": "",
    "database": "",
    "userDatabase": "",
    "sageNum": 20,
    "redisIp": "",
    "buffTime": 0,
    "imgUserName": "",
    "imgPassWord": "",

    "endpoint": "",
    "accessKeyId": "",
    "accessKeySecret": "",
    "bucketName": "",
    "ossUrl": "",

    "chatUrl": ""
}